@*
@using WebApp.Models.Order
@model CreateOrderViewModel

<div class="container mt-5">
    <h2>Create Order</h2>
    <form asp-controller="Orders" asp-action="Create" method="post">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Date" class="form-label">Date</label>
            <input asp-for="Date" class="form-control" type="date" required />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Address" class="form-label">Address</label>
            <input asp-for="Address" class="form-control" type="text" required />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <h4>Add Order Items</h4>
        <div id="orderItemsContainer" class="mb-3">
            <span asp-validation-for="Items" class="text-danger"></span>
            <div class="row g-3 order-item-template">
                <div class="col-md-4">
                    <label class="form-label">Book Title</label>
                    <select class="form-select" required id="book" asp-items="Model.Books">
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Quantity</label>
                    <input class="form-control" type="number" min="1" required id="quantity" />
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button type="button" class="btn btn-secondary add-item-btn" id="add-book">Add to Table</button>
                </div>
            </div>
        </div>

        <h4>Order Items Table</h4>
        <table class="table table-bordered mt-3" id="orderItemsTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


@section Skripta{
    <script>
document
    .getElementById("add-book")
    .addEventListener("click", function(event) {
        let tableBody = document.querySelector("#orderItemsTable tbody");

        let book = document.getElementById("book").selectedOptions[0];
        let quantity = document.getElementById("quantity").value;

        let index = document.querySelectorAll("#orderItemsTable tbody tr").length;

        //let newRow = `<tr><td>${book}</td><td>${quantity}</td></tr>`;
        //table.innerHTML += newRow;

        let newRow = document.createElement("tr");

        let bookCell = document.createElement("td");
        bookCell.innerText = book.text;
        let bookInput = document.createElement("input");
        bookInput.name = `Items[${index}].Id`;
        bookInput.hidden = true;
        bookInput.value = book.value;

        bookCell.appendChild(bookInput);
        newRow.appendChild(bookCell);

        let quantityCell = document.createElement("td");
        quantityCell.innerText = quantity;
        let quantityInput = document.createElement("input");
        quantityInput.name = `Items[${index}].Quantity`;
        quantityInput.hidden = true;
        quantityInput.value = quantity;

        quantityCell.appendChild(quantityInput);
        newRow.appendChild(quantityCell);

        tableBody.appendChild(newRow);

    });


    </script>
}
*@