@*

@model UserViewModel

<div class="container mt-5">
    <h3 class="mb-4">Add new user</h3>
    <form asp-controller="Users" asp-action="Add" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label">First name:</label>
            <input type="text" asp-for="FirstName" class="form-control" required />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label">Last name:</label>
            <input type="text" asp-for="LastName" class="form-control" required />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Add new user</button>
    </form>
</div>

*@