# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
Lib/
Scripts/
pyvenv.cfg

# JetBrains/PyCharm
.idea/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node stuff (if React/tests use it)
node_modules/

# PowerShell scripts if you want to ignore logs
*.log
