node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.expo
.expo-shared
.cache
dist
build
web-build

android/.gradle
android/build
android/app/build
ios/build
ios/Pods
ios/DerivedData

android
ios

.git
.gitignore
.gitattributes
.idea
.vscode
*.iml

.DS_Store
Thumbs.db

*.mp4
*.mov
*.zip
*.7z
*.rar
*.iso
*.psd
*.ai
*.blend
